beautifulsoup4==4.6.0
blinker==1.4
docutils==0.13.1
feedgenerator==1.9
Jinja2==2.9.6
Markdown==2.6.8
MarkupSafe==1.0
pelican==3.7.1
Pygments==2.2.0
python-dateutil==2.6.1
python-frontmatter==0.4.2
pytz==2017.2
PyYAML==3.12
rpy2==2.8.6
six==1.10.0
smartypants==2.0.0
typogrify==2.0.7
Unidecode==0.4.21
